@model IEnumerable<MyMovieApp.Models.Film>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Мой топ-10 фильмов</h1>

<p class="pCreate">
    <a asp-action="Create">Добавить новый</a>
</p>

<section id="sectForFilms">
    @foreach(var item in Model)
    {
        <div class="divForOneFilm">
            <div class="divForOneFilmInside">

               
           
                <div class="divForImg">                   
                    <image src="@Url.Content(item.Image)" class="filmPoster"></image>                                                         
                </div>
                <div class="divForTextUnderPoster">
                    <p class="filmTitle">
                        @Html.DisplayFor(model => item.Name), @Html.DisplayFor(model => item.Year)
                    </p>
               
                
                   @*  <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> | *@
                    <a asp-action="Details" asp-route-id="@item.ID" class="aUnderPoster">
                        <span class="material-symbols-outlined">more_horiz</span>
                    </a>                    
                    @* | *@
                   @*  <a asp-action="Delete" asp-route-id="@item.ID">Delete</a> *@
                
               
                </div>
            </div>

        </div>
    }

</section>

